html, body {
	height: 100%;
	margin: 0;
}


canvas {
	width: 100%;
	background: linear-gradient(294deg, #3498b5, #ddc5d8, #dbd974);

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
  }
  @keyframes AnimationName { 
    0%{background-position:76% 0%}
    50%{background-position:25% 100%}
    100%{background-position:76% 0%}
  };
}